/* google fonts */
@import url("https://fonts.googleapis.com/css?family=Poppins:400,600,700,900|Rubik&display=swap");

body {
  font-family: "Rubik", sans-serif;
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button:focus {
  outline: 0;
}

.btn {
  padding: 15px 40px;
  border: 1px solid #505cfd;
  color: #595959;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

/* header-area */
header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.header-area {
  padding: 0 60px;
}

.main-menu ul li {
  display: inline-block;
  margin-left: 55px;
}

.main-menu ul li a {
  color: #343434;
  font-size: 14px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  padding: 45px 0;
  display: inline-block;
  line-height: 1;
}

.hire-btn {
  margin-top: 38px;
  margin-left: 55px;
}

.hire-btn > a {
  padding: 15px 55px;
  border: 1px solid #505cfd;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

/* slider-area */
.single-slider {
  height: 100vh;
  background-size: cover;
}

.slider-icon {
  margin-bottom: 20px;
}

.slider-icon a {
  color: #505cfd;
  font-size: 18px;
  margin: 0 15px;
}

.slider-inner h2 {
  font-size: 72px;
  font-weight: 600;
  color: #595959;
  margin-bottom: 15px;
}

.slider-inner p {
  color: #343434;
  font-size: 15px;
  margin-bottom: 40px;
}

/* features-area */
.features-area {
  margin-top: -150px;
  z-index: 999;
  position: relative;
}

.features-area .theme-bg {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.single-feature {
  padding: 50px 10px;
  border-right: 1px solid #fff;
}

.single-feature i {
  color: #fff;
  font-size: 30px;
  margin-bottom: 30px;
  display: block;
}

.single-feature h3 {
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
}

.single-feature p {
  color: #fff;
  font-size: 15px;
  line-height: 25px;
  margin: 0;
}

/* about-area */
.about-area {
}

.about-area h3 {
  font-size: 32px;
  color: #404044;
  line-height: 44px;
  position: relative;
  margin-bottom: 30px;
  padding-bottom: 15px;
}

.about-area h3::before {
  content: "";
  width: 60px;
  height: 3px;
  background: #505cfd;
  position: absolute;
  bottom: 0;
}

.about-area p {
  font-size: 15px;
  font-weight: 400;
  color: #595959;
  margin-bottom: 40px;
}

.about-img img {
  width: 100%;
}

/* subscription-area */
.subscription-area {
  background-image: url(../img/bg/subscription-bg.jpg);
}

.section-title h3 {
  font-size: 32px;
  margin-bottom: 20px;
}

.section-title p {
  margin-bottom: 0px;
}

.subscribe-form {
}

.subscribe-form form {
}

.subscribe-form input {
  width: 25%;
  background: #fff;
  border: 0;
  height: 45px;
  padding: 0 20px;
  margin-right: 10px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.subscribe-form button {
  background: #505cfd;
  color: #fff;
  border: 0;
  height: 45px;
  font-weight: 600;
  padding: 0 30px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

/* service-area */
.service-wrapper {
  border: 1px solid #ddd;
  padding: 50px 30px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.service-wrapper:hover {
  background: #222;
  border-color: #222;
}

.service-wrapper:hover h3 {
  color: #fff;
}

.service-wrapper:hover p {
  color: #777;
}

.service-wrapper:hover .btn {
  color: #fff;
}

.service-wrapper i {
  font-size: 48px;
  color: #505cfd;
  margin-bottom: 50px;
  display: inline-block;
}

.service-wrapper h3 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 25px;
}

.service-wrapper p {
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 60px;
}

/* pricing-wrapper */
.pricing-area {
  background: #e7e8fe;
}

.pricing-item {
  width: 28%;
}

.pricing-wrapper {
  border: 1px solid #cfd1fc;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.pricing-wrapper:hover {
  box-shadow: 0 15px 30px 0px rgba(80, 92, 253, 0.1);
  background: #fff;
}

.pricing-wrapper h3 {
  font-size: 22px;
  padding: 40px 0;
  margin: 0;
  border-bottom: 1px solid #cfd1fc;
}

.pricing-wrapper span {
  font-size: 40px;
  font-weight: 600;
  color: #505cfd;
  margin-top: 20px;
  display: inline-block;
  line-height: 1;
}

.pricing-wrapper span span {
  font-size: 20px;
  font-weight: 500;
  position: relative;
  top: -11px;
}

.pricing-wrapper ul {
  margin: 40px 0;
}

.pricing-wrapper ul li {
  line-height: 36px;
  color: #595959;
}

/* counter-wrapper */
.counter-wrapper {
}

.counter-wrapper i {
  font-size: 30px;
  margin-bottom: 30px;
  display: block;
  color: #fff;
}
.counter-wrapper span {
  color: #fff;
  font-size: 32px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
  display: block;
}
.counter-wrapper p {
  margin: 0;
  color: #fff;
}

/* team-area */
.team-area {
}
.team-wrapper {
  position: relative;
}

.team-img::before {
  position: absolute;
  content: "";
  background: #fff;
  opacity: 0;
  top: 30px;
  left: 30px;
  right: 30px;
  bottom: 30px;
  visibility: hidden;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.team-wrapper:hover .team-img::before {
  opacity: 0.7;
  visibility: visible;
}

.team-img img {
  width: 100%;
}

.team-img:hover img {
}

.team-info {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.team-wrapper:hover .team-info {
  opacity: 1;
  visibility: visible;
}

.team-info h3 {
  font-size: 22px;
  margin-bottom: 4px;
}

.team-info span {
  font-size: 12px;
  font-weight: 400;
}

.team-icon {
  margin-top: 6px;
}

.team-icon a {
  color: #444;
  margin: 0 5px;
}

/* blog area */
.blog-thumb img {
  width: 100%;
}

.blog-content {
  margin-top: 15px;
}

.blog-content h3 a {
  font-size: 22px;
  color: #444;
  text-decoration: none;
}

.blog-content p {
  margin-bottom: 30px;
}

.blog-meta {
}

.blog-meta span {
}

.meta-line {
  background: #444;
  height: 2px;
  width: 50px;
  display: inline-block;
  margin-left: 10px;
  position: relative;
  top: -2px;
}

/* testimonial area */
.testimonial-item {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 60px 120px;
}

.testimonial-name {
  margin-bottom: 15px;
}

.testimonial-name h4 {
  color: #505cfd;
  font-size: 22px;
}

.testimonial-active .slick-dots {
  margin-top: -45px;
  position: relative;
  z-index: 99999;
}

.testimonial-active .slick-dots li {
  display: inline-block;
  margin: 0 5px;
}

.testimonial-active .slick-dots li button {
  font-size: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  padding: 0;
  border: 0;
  border: 2px solid #444;
}

.testimonial-active .slick-dots li.slick-active button {
  background: #444;
}

/* google map */
#contact-map {
  height: 400px;
  width: 100%;
}

/* footer */
.footer-widget h3 {
  font-size: 22px;
  color: #fff;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 30px;
}

.footer-icon a {
  color: #fff;
  margin-right: 10px;
}

.contact-list {
  margin-bottom: 20px;
}

.contact-list li {
  font-size: 15px;
  line-height: 36px;
  color: #777;
}

.footer-link li {
  width: 50%;
  float: left;
}

.footer-link li a {
  color: #777;
  line-height: 36px;
  text-decoration: none;
}

.footer-blog li {
  margin-bottom: 20px;
}

.footer-blog li:last-child {
  margin: 0;
}

.news-title {
  overflow: hidden;
  padding-left: 10px;
}

.news-title h4 {
  line-height: 1;
  margin: 0;
}

.news-title h4 a {
  font-size: 17px;
  font-weight: 400;
  color: #777;
  line-height: 30px;
  text-decoration: none;
}

.news-title span {
  color: #777;
  font-size: 12px;
}

.news-thumb {
  float: left;
}

.copyright-text p {
  color: #777;
}

.copyright-border {
  border-top: 1px solid #777;
  padding: 30px 0;
}

.footer-menu ul li {
  display: inline-block;
  margin-left: 15px;
}

.footer-menu ul li a {
  color: #777;
  text-decoration: none;
}

.footer-link li a::before {
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
}
